<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body id="signin">
	<div class="container">
		<div class="content sign">
			<h2 class="copy">星でも数えようじゃないか</h2>
			<h1 class="logo-wrapper"><img src="/assets/images/counting_stars_logo.png"></h1>
			<form class="sign-form" action="/signup" method="post">
				<input type="text" name="username" placeholder="username">
				<input type="text" name="password" placeholder="password">
				<input type="text" name="password-confirm" placeholder="password-confirm">
				<input type="submit" value="SIGN UP">
			</form>
		</div>
	</div>
</body>
</html>
